body, h1, h2, h3, h4, h5, h6, ul, ol, li, p {
  font-family: 'covik-sans', 'Helvetica', sans-serif; }

body {
  font-size: 18px; }
  @media (min-width: 40em) {
    body {
      margin: 0 auto;
      width: 60%; } }

p {
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 1rem 0; }

a {
  color: #4C00FE; }

img {
  display: inline-block;
  height: auto;
  max-width: 100%;
  vertical-align: middle; }

/******** nav **********/
nav {
  margin: 2rem 0; }
  nav a {
    font-weight: 800;
    text-decoration: none; }

/******** homepage **********/
.intro {
  margin-bottom: 3rem; }
  .intro p {
    font-size: 2rem; }

.card-wrapper {
  list-style: none;
  margin-bottom: 3rem;
  padding: 0; }
  @media (min-width: 40em) {
    .card-wrapper {
      display: flex;
      justify-content: space-between; } }

.card {
  border: 2px solid black;
  margin-bottom: 1rem;
  padding: .875rem; }
  .card h2 {
    font-size: .875em;
    margin-top: 0;
    margin-bottom: .5rem; }
  .card p {
    font-size: .875em;
    margin-bottom: 0; }
  @media (min-width: 40em) {
    .card {
      width: 44%;
      margin-bottom: 0;
      /*&:nth-child(odd) {
			margin-right: 1rem; 
		}*/ } }

/******** post styling **********/
article img {
  border: 1px solid #767676;
  margin: 3rem 0; }

.help-text {
  color: #767676;
  display: block;
  font-size: .875rem;
  margin: 0 0 1rem 0; }

/* flex grid for images */
.img-flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem 0; }
  .img-flex-wrapper img {
    margin: 0; }

@media (min-width: 40em) {
  .img-flex-50 {
    width: calc(50% - 10px); }
    .img-flex-50:nth-child(odd) {
      margin-right: 10px; }
    .img-flex-50:nth-child(even) {
      margin-left: 10px; }
  .img-flex-33 {
    width: calc(33.333333% - 15px); }
    .img-flex-33:nth-child(1) {
      margin-right: 10px; }
    .img-flex-33:nth-child(2) {
      margin: 0 10px; }
    .img-flex-33:nth-child(3) {
      margin-left: 10px; } }
