body, h1, h2, h3, h4, h5, h6, ul, ol, li, p {
  font-family: 'covik-sans', 'Helvetica', sans-serif; }

body {
  font-size: 18px; }

p {
  font-size: 1em;
  margin: 0 0 1rem 0; }

img {
  display: inline-block;
  height: auto;
  max-width: 100%;
  vertical-align: middle; }

/******** homepage **********/
.card-wrapper {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0; }

.card {
  border: 3px solid black;
  padding: 1rem;
  width: 46%; }
  .card h2 {
    font-size: 1em;
    margin-top: 0;
    margin-bottom: .5rem; }
  .card p {
    margin-bottom: 0; }

/******** post styling **********/
article {
  margin: 0 auto;
  width: 75%; }
  article img {
    border: 1px solid #767676; }

.help-text {
  color: #767676;
  display: block;
  font-size: .875rem;
  margin: 0 0 1rem 0; }

/* flex grid for images */
.img-flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 3rem 0; }
  .img-flex-wrapper img {
    margin: 0; }

@media (min-width: 40em) {
  .img-flex-50 {
    width: calc(50% - 10px); }
    .img-flex-50:nth-child(odd) {
      margin-right: 10px; }
    .img-flex-50:nth-child(even) {
      margin-left: 10px; }
  .img-flex-33 {
    width: calc(33.333333% - 15px); }
    .img-flex-33:nth-child(1) {
      margin-right: 10px; }
    .img-flex-33:nth-child(2) {
      margin: 0 10px; }
    .img-flex-33:nth-child(3) {
      margin-left: 10px; } }
