@charset "utf-8";

body, h1, h2, h3, h4, h5, h6, ul, ol, li, p {
	font-family: 'franklin-gothic-urw', 'Helvetica', sans-serif; 
}

body {
	font-size: 18px; 
}

img {
    display: inline-block;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}



/******** post styling **********/

.help-text {
    color: #767676;
    display: block; 
    font-size: .875rem;
	margin: 0 0 1rem 0;
}

/* flex grid for images */
.img-flex-wrapper {
	display: flex; 
	flex-wrap: wrap;
	margin: 3rem 0;
	img {
		margin: 0; 
	} 
}
@media (min-width: 40em) {
	.img-flex-50 { 
		width: calc(50% - 10px); 
		&:nth-child(odd) {
			margin-right: 10px; 
		}
		&:nth-child(even) {
			margin-left: 10px; 
		}
	}
	.img-flex-33 { 
		width: calc(33.333333% - 15px); 
		&:nth-child(1) {
			margin-right: 10px; 
		}
		&:nth-child(2) {
			margin: 0 10px; 
		}
		&:nth-child(3) {
			margin-left: 10px; 
		}
	}
}


