---
title: Layout
---
<!doctype html>
<html lang="en">
  	<head>
  		<meta charset="UTF-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<!-- need to add favicon -->
    	<link rel="icon" type="image/png" href="img/favicon.png">
		<title>nan copeland dot com</title>
		<meta name="description" content="Nan Copeland&#39;s personal site">
		<!-- covik sans --> 
		<link rel="stylesheet" href="https://use.typekit.net/ylp6uud.css">
		<link rel="stylesheet" href="/css/style.css">
	</head>
  	<body>
  		<nav>
			<a href="/">👀 Home</a>
		</nav>
    	{{ content | safe }}
    	<footer>
    		<p><a href="/">Home</a> • <a href="/img/resume_nan_copeland.pdf">Download Resume</a></p>
        <p>This site was created using <a href="https://www.11ty.dev/">11ty</a>. It uses <a href="https://ohnotype.co/fonts/covik">Covik Sans</a> from <a href="https://ohnotype.co/">OH no Type Company</a> via <a href="https://fonts.adobe.com/">Adobe Fonts</a>.</p>
    	</footer>
  	</body>
</html>