---
title: Layout
---
<!doctype html>
<html lang="en">
  	<head>
		<title>nan copeland dot com</title>
		<link rel="stylesheet" href="https://use.typekit.net/jcb8jba.css">
		<link rel="stylesheet" href="/css/style.css">
	</head>
  	<body>
    	{{ content | safe }}
  	</body>
</html>