---
title: Layout
---
<!doctype html>
<html lang="en">
  	<head>
		<title>nan copeland dot com</title>
		<!-- covik sans --> 
		<link rel="stylesheet" href="https://use.typekit.net/ylp6uud.css">
		<!-- franklin gothic --> 
		<link rel="stylesheet" href="https://use.typekit.net/jcb8jba.css">
		<link rel="stylesheet" href="/css/style.css">
	</head>
  	<body>
  		<nav>
			<a href="/">&#9996; Home</a>
		</nav>
    	{{ content | safe }}
  	</body>
</html>